.faint {
    color: #999;
}

.branded .fa {
    font-size: 5em;
    text-align: center;
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:hover {
    outline: 0 !important;
}

.btn:focus {
    outline: 0 !important;
}

.btn:active {
    outline: 0 !important;
}

.btn-download {
    height: 50px;
    text-align: center;
    margin-top: 40px;
    font-size: 1.7em;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-flip-extend,
.btn-flip:hover,
.btn-flip:focus {
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

.btn-flip {
    opacity: 0.8;
    color: #666666;
    background-color: transparent;
}

.btn-flip i {
    font-size: 16px;
}

.card-holder {
    margin-top: 50px;
}

.card-container {
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%;
    height: 420px;
}

.card-container:not(.manual-flip):hover .front {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-container:not(.manual-flip):hover .back {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card-container.hover.manual-flip .front {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-container.hover.manual-flip .back {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card {
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    background: none repeat scroll 0 0 #fff;
    color: #444444;
    max-width: 320px;
    margin: 0 auto;
}

.card .cover {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
    height: 105px;
    overflow: hidden;
    z-index: -2;
}

.card .cover img {
    width: 100%;
}

.card .branded {
    position: relative;
    background: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    width: 120px;
    text-align: center;
}

.card .content {
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 20px 20px;
}

.card .content .main {
    min-height: 70px;
}

.card .use-for {
    font-size: 22px;
    text-align: center;
    font-weight: normal;
}

.card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.card .footer {
    width: 100%;
    float: left;
    border-top: 1px solid #d3d3d3;
    background: #fff;
}

.card .footer .btn-simple {
    margin-top: -6px;
}

.card .signin {
    width: 100%;
    float: left;
    padding: 20px 15px;
    box-sizing: border-box;
    color: #424242;
    font-size: 14px;
    cursor: pointer;
}

.card .signin:hover {
    background: #749f01;
    transition: 0.3s ease;
    color: #fff;
}

.card .header {
    padding: 15px 20px;
    height: 90px;
}

.card .back .content .main {
    height: 215px;
}

.front {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    /* height: 420px; */
    top: 0;
    left: 0;
    z-index: 2;
}

.back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 420px;
    top: 0;
    left: 0;
}

.back .btn-simple {
    position: absolute;
    left: 0;
    bottom: 4px;
}

.qr canvas {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0 auto;
}


/* .title {
    color: #506a85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
} */

.single-card {
    width: 30%;
    display: inline-block;
}

.text-center {
    text-align: center;
}

.card .image-box1 {
    background: #ffe6e7;
}

.card .image-box2 {
    background: #f3f3f3;
}

.card .image-box3 {
    background: #e2f0d9;
}

.img_box1 img,
.img_box2 img,
.img_box3 img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.card .image-box1 img {
    width: 90%;
    margin-top: 12px;
    margin-left: -6px;
}

.card .image-box2 img {
    width: 80%;
    margin-top: 12px;
}

.card .image-box3 img {
    width: 60%;
    margin-top: 12px;
}

.signinsec {
    width: 400px;
    display: none;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-sizing: border-box;
}

.signinsec .loginsec {
    width: 100%;
    float: left;
    /* background: red; */
}

.signinsec .loginsec-left,
.forgetpasspopup .loginsec-left {
    float: left;
    width: 100%;
    height: auto;
    background: #fff;
}

.signinsec .logosec,
.forgetpasspopup .logosec {
    width: 100%;
    float: left;
}

.signinsec .logo img,
.forgetpasspopup .logo img {
    width: 100%;
    float: left;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signinsec .form,
.forgetpasspopup .form {
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.signinsec .first,
.forgetpasspopup .first {
    width: 100%;
    float: left;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    overflow: hidden;
    margin-bottom: 15px;
}

.signinsec .first input,
.forgetpasspopup .first input {
    width: 100%;
    float: left;
    height: 100%;
    line-height: 35px;
    border: none;
    color: #434343;
    padding-left: 15px;
    box-sizing: border-box;
}

.signinsec .first i,
.forgetpasspopup .first i {
    color: #909090;
    line-height: 35px;
    float: right;
    width: 10%;
    cursor: pointer;
}

.remmesec {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    margin-top: 10px;
}

.remmesec .check {
    width: 50%;
    float: left;
    font-size: 12px;
    color: #434343;
    line-height: 15px;
    text-align: left;
}

.remmesec .check input {
    margin: 0;
    margin-right: 7px;
    cursor: pointer;
}

.fprgetright {
    width: 50%;
    float: right;
    font-size: 12px;
    color: #749f01;
    text-align: right;
    line-height: 15px;
    cursor: pointer;
}

.loginbutton {
    width: 100%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #70ad47;
    border-radius: 5px;
    padding: 7px;
    color: #70ad47;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}

.loginbutton:hover {
    background: #70ad47;
    color: #fff;
    transition: 0.3s ease;
}

.forgetpasspopup {
    display: none;
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-sizing: border-box;
}

.logo {
    width: 115px;
    height: 115px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}