body {
    margin: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.icon {
    width: 28px;
    height: 28px;
    margin-top: 6px;
}

.shelf {
    /* margin-top: -21px; */
    position: absolute;
    /* top: 50%; */
    left: 0;
    right: 0;
    text-align: center;
}

.app_icon {
    margin: 0 10px;
    display: inline-block;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 5px;
    background: transparent url(http://cdn.pokki.com/pokki/a65116cdc0b4377bed428e280c19949d56248d11/13/icon-42x42.png) no-repeat center center;
}

.app_icon.app2 {
    background-image: url(http://cdn.pokki.com/pokki/73a90bd250997bf4e96ac280966a5f05f20838b5/14/icon-42x42.png);
}

.app_icon.app3 {
    background-image: url(http://cdn.pokki.com/pokki/49fbc889e3d239005a66d09849b9b735e1dc2bee/9/icon-42x42.png);
}

.loader {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    width: 42px;
    height: 42px;
    border-radius: 5px;
    -webkit-transition: opacity 200ms ease;
    -webkit-transition-delay: 500ms;
}

.loader.done {
    opacity: 0;
}

.loader .ring {
    /* doesn't move */
    margin-top: -14px;
    margin-left: -14px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #fff;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 300ms ease;
}

.loader.done .ring {
    opacity: 0;
}

.loader .pie {
    margin-top: -14px;
    margin-left: -14px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    clip: rect(0px, 28px, 28px, 14px);
}

.loader .pie.lt50 {
    -webkit-transform: rotate(0deg)
}

.loader .pie.gt50 {
    opacity: 0;
}

.loader .mask {
    margin-top: -14px;
    margin-left: -14px;
    width: 28px;
    height: 28px;
    border-radius: 50% 0 0 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    clip: rect(0px, 14px, 28px, 0px);
}

.loader .pie.fill {
    -webkit-transform: rotate(180deg)
}


/* USB TAB */

section {
    /* For demo purposes only */
    padding: 100px;
    box-sizing: border-box;
    position: absolute;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

#reading-key {
    position: relative;
    width: 54px;
    left: 100%;
}

#key {
    width: 54px;
    height: 145px;
    background: #fefefe;
    position: relative;
    box-shadow: inset 0 0 0 2px #d9d9de, inset 0 0 0 5px #f4f4f5, inset 0 -50px 0 0 #f4f4f5;
    ;
    -webkit-border-radius: 1px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius: 1px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-radius: 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#key::after,
#key::before,
#key span::after {
    content: "";
    display: block;
    position: absolute;
}

#key::after {
    width: 20px;
    height: 20px;
    background: #fff;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    box-shadow: inset 0 0 0 2px #ddd;
}

#key span {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

#key span,
#key span::before {
    width: 6px;
    height: 22px;
    background: #e5c499;
    display: block;
    border-radius: 6px;
}

#key span:nth-of-type(1) {
    margin-left: -5px;
}

#key span:nth-of-type(2) {
    margin-left: 5px;
}

#key span::before {
    content: "";
    position: absolute;
    top: 0;
    margin-left: -10px;
}

#key span:nth-of-type(2)::before {
    margin-left: 10px;
}

#key span::before {
    content: "";
}

#reading-animation {
    width: 140%;
    height: 4px;
    border-radius: 4px;
    background: #009DE0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: reading-animation 2s infinite;
    opacity: .5;
}

@keyframes reading-animation {
    0% {
        top: 0%;
        opacity: .5;
    }
    25%,
    75% {
        opacity: 1;
    }
    50% {
        top: 100%;
        opacity: .5;
    }
}

#reading-animation span {
    display: block;
    width: 100%;
    height: 15px;
    background: -moz-linear-gradient(top, rgba(0, 157, 224, 0) 0%, rgba(0, 157, 224, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 157, 224, 0) 0%, rgba(0, 157, 224, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 157, 224, 0) 0%, rgba(0, 157, 224, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00009de0', endColorstr='#009de0', GradientType=0);
    margin-top: 3px;
    opacity: .2;
    opacity: 0;
    animation: reading-animation__span 2s infinite;
    transform: rotate(180deg);
    -webkit-filter: blur(1px);
}

@keyframes reading-animation__span {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        margin-top: -30px;
        height: 30px;
    }
    25% {
        opacity: .5;
        height: 15px;
        margin-top: -15px;
    }
    50% {
        opacity: 0;
        transform: rotate(0deg);
        margin-top: -5px;
        height: 5px;
    }
    51% {
        transform: rotate(180deg);
        margin-top: 3px;
        height: 30px;
    }
    75% {
        opacity: .5;
        height: 15px;
    }
    100 {
        opacity: 0;
        height: 5px;
    }
}


/* Serial number form */

form {
    margin: 100px;
}

.input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
}

input:invalid {
    outline: 0;
    color: #ff2300;
    border-color: #ff2300;
}

input:focus,
input:valid {
    border-color: #00dd22;
}

input:focus~label,
input:valid~label {
    font-size: 14px;
    top: -24px;
    color: #00dd22;
}


/* Loading bar */


/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
} */

#loading-bar {
    width: 35vw;
    height: 1.5vw;
    /* min-height: 24px; */
    background-color: #eaeaea;
    border: 0.5vw solid #fff;
    border-radius: 5vw;
    box-shadow: 0 0 1vw rgba(0, 127, 255, 0.25);
    overflow: hidden;
}

#loading-bar.complete {
    transition: 0.8s ease;
    transform: rotate(-180deg);
}

#loading-bar.complete #progress {
    transition: 0.4s ease;
    width: 0% !important;
}

#progress {
    width: 0%;
    height: 100%;
    background: linear-gradient(#25C42F, #25c491);
    transition: 0.5s ease;
}